html, body, #quiz {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(167, 229, 237);
  font-family: Arial;
}

h1 {
  font-size: 2em;
}

h1,p {
    text-align: center;
    display: block;
    width: auto;
}

/*each set of options*/
  ul {
    list-style: none;
    display: block;
    width: auto;
    margin: 2% 2%;
    padding: 2%;
    overflow: auto;
    border: 1px solid yellow;
    text-align: center;
}
/*each option*/
  li {
    display: inline-block;
    width: 20%;
    border: 1px solid red;
}
