body {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  font-size: 16px;
  background-color: #000000;
}

header {
  text-align: center;
}

#contents {
  margin: 0px auto;
  text-align: center;
}

.identifier, .image {
  vertical-align: top;
  display: inline-block;
}

.image img {
  width: 70%;
  margin: auto;
}

.information {
  text-align: center;
  margin: 50px auto;
}

h2 {
  padding: 5px;
  color: white;
}
